[submodule "btoolbox-xmldeserializer"]
	path = btoolbox-xmldeserializer
	url = https://github.com/komlosboldizsar/btoolbox-xmldeserializer.git
[submodule "btoolbox-snmp"]
	path = btoolbox-snmp
	url = https://github.com/komlosboldizsar/btoolbox-snmp.git
[submodule "btoolbox-oneinstance"]
	path = btoolbox-oneinstance
	url = https://github.com/komlosboldizsar/btoolbox-oneinstance.git
[submodule "btoolbox-model-general"]
	path = btoolbox-model-general
	url = https://github.com/komlosboldizsar/btoolbox-model-general.git
