[submodule "btoolbox-xmldeserializer"]
	path = btoolbox-xmldeserializer
	url = https://github.com/komlosboldizsar/btoolbox-xmldeserializer.git
[submodule "btoolbox-snmp"]
	path = btoolbox-snmp
	url = https://github.com/komlosboldizsar/btoolbox-snmp.git
[submodule "btoolbox-model-general"]
	path = btoolbox-model-general
	url = https://github.com/komlosboldizsar/btoolbox-model-general.git
[submodule "btoolbox-gui-general"]
	path = btoolbox-gui-general
	url = https://github.com/komlosboldizsar/btoolbox-gui-general/
[submodule "library-ember-plus-provider"]
	path = library-ember-plus-provider
	url = https://github.com/komlosboldizsar/library-ember-plus-provider.git
